language: python
python:
 - "2.6"
 - "2.7"
 - "3.3"
env:
  global:
    secure: mpFkhLxiDEpGeAMfcSx601ZFykkrKilpWch6qsx62qNhZTVrf33bru9hFooi/NpGGx+2A+epRj705BibAG8OUvjJBJCAZnrNbrn/j9XsBwA4bmsoDzLg+7eaElneX3J+MWlT4419nVhnH+k3W1yRX+0HrsmE+5mGmxuIE4DdIpI=
install: pip install flake8
script: ./run_tests.sh
